<h1>Display All Words</h1>
<div class="table-holder">
	<table>
		<tr>
			<th>Word</th>
			<th>Part of Speech</th>
			<th>Successes</th>
			<th>Failures</th>
			<th>% Success</th>
			<th>Last Date Tested</th>
		</tr>	
		
		#foreach( $summary in $summaries )    
			<tr>
				<td><a href="/displayWord/$summary.Entry.PartOfSpeech/$summary.Entry.Word">$summary.Entry.Word</a></td>
				<td>$summary.Entry.PartOfSpeech</td>
				<td>$summary.SuccessTotal</td>
				<td>$summary.FailureTotal</td>
				<td class="right-justify-class">
					$summary.SuccessPercentString%
				</td>	
				<td>$summary.MostRecentDateString</td>		
			</tr>
		#end
	</table>
</div>
