<header>
	<div id="wqnamecontainer">
		<div>WORD</div>
		<div>QUIZ</div>
	</div>
	
	<div id="menucontainer">
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/testWord">TEST WORD</a></li>
			<li><a href="/createEntry">CREATE ENTRY</a></li>
			<li><a href="/displayAll">DISPLAY ALL WORDS</a></li>
		</ul>
	</div>
	
</header>