<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="wordquiz.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="wordquiz.js"></script>
</head>
<body>
	#parse("templates/partials/common/header-menu.vm")
	#parse($pageContent)
</body>
</html>